<div class="table-responsive" data-ng-controller="ProfileCtrl">
	<h3 class="title">
		Profile 
	</h3>
	<div class="row omb_row-sm-offset-3">
		<div class="col-xs-12 col-sm-6">
		<a href="" data-ng-click ="editProfile()" data-ng-model="clicked">Edit</a>
			<form class="profileform" novalidate>
				<table class="table">
				<tr>
					<td>Username</td>
					<td>
					<label id="userNameLbl">{{username}}</label>
					<input type="text" class="form-control" id="usernameTxt" name="username" placeholder="Username" data-ng-model="username" style="display: none">
					</td>
				</tr>
				<tr>
					<td>Email Address</td>
					<td>
					<label id="emailid">{{emailid}}</label>
					<input type="text" class="form-control" id="emaildtxt" name="emailid" placeholder="Email address" data-ng-model="emailid" style="display: none"></td>
				</tr>
				<tr>
					<td>Phone Number</td>
					<td>
					<label id="phoneno">{{phoneno}}</label>
					<input type="text" class="form-control" id="phonenotxt" name="phoneno" placeholder="Phone number" data-ng-model="phoneno" style="display: none"></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><label id="genderLbl">{{gender}}</label>
					<input type="radio" name="sex" id="gendertxtMale" data-ng-model="gender" data-ng-value="Male" style="display: none">Male
					<input type="radio" name="sex" id="gendertxtFemale"data-ng-model="gender" data-ng-value="Female" style="display: none">Female</td>
				</tr>
				</table>
			</form>
			</div>
	</div>
	<div class="row omb_row-sm-offset-3">
	<div class="col-xs-12 col-sm-3" data-ng-init = "isDisabled=false">
		<input type="submit" class=" btn btn-primary btnformat" value="Save" data-ng-click="save()" data-ng-disabled="{{isDisabled}}">
		<input type="submit" class=" btn btn-primary btnformat" value="Cancel" data-ng-click="cancel()" data-ng-disabled="{{isDisabled}}">
	
	</div>							
	</div>		
				
</div>

